In [22]:
# Import Dependencies
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

In [23]:
# Create db in pgadmin if not already created
# Create postgres engine and connect

engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/puntpasspredict")
conn = engine.connect()

In [24]:
# Play by Play data - Import raw/uncleaned cvs 
dataPlaybyPlay = pd.read_csv("Resources/NFL_play_by_play.csv")

# View data types
dataPlaybyPlay.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,9/10/2009,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,9/10/2009,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,9/10/2009,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [25]:
# Limit columnns
playbyplaydf = dataPlaybyPlay.loc[:, 'play_id':'total_away_score']
playbyplaydf.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,two_point_conv_result,home_timeouts_remaining,away_timeouts_remaining,timeout,timeout_team,td_team,posteam_timeouts_remaining,defteam_timeouts_remaining,total_home_score,total_away_score
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0

In [26]:
# Drop Duplicates
playbyplaydf = playbyplaydf.drop_duplicates()
playbyplaydf.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,two_point_conv_result,home_timeouts_remaining,away_timeouts_remaining,timeout,timeout_team,td_team,posteam_timeouts_remaining,defteam_timeouts_remaining,total_home_score,total_away_score
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,NaN,3,3,0.0,NaN,NaN,3.0,3.0,0,0

In [27]:
# Impost team id data
datateamid = pd.read_csv("Resources/team_id.csv")

# View data types
datateamid.head()

  posteam  team_id
0     ARI        1
1     ATL        2
2     BAL        3
3     BUF        4
4     CAR        5

In [28]:
# Add Team ID to the Play by Play df
NFLdf = pd.merge(playbyplaydf, datateamid, how= 'inner',)

NFLdf.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,home_timeouts_remaining,away_timeouts_remaining,timeout,timeout_team,td_team,posteam_timeouts_remaining,defteam_timeouts_remaining,total_home_score,total_away_score,team_id
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,9/10/2009,...,3,3,0.0,NaN,NaN,3.0,3.0,0,0,27
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,9/10/2009,...,3,3,0.0,NaN,NaN,3.0,3.0,0,0,27
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,9/10/2009,...,3,3,0.0,NaN,NaN,3.0,3.0,0,0,27
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,3,3,0.0,NaN,NaN,3.0,3.0,0,0,27
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,9/10/2009,...,3,3,0.0,NaN,NaN,3.0,3.0,0,0,27

In [32]:
# NFLdf.reset_index()
# NFLdf.head()

In [33]:
# export cleaned CSV

NFLdf.to_csv("Resources/UpdatedNFL.csv", index=True)

In [34]:
# Load to postgreSQL and add date as PK to each table
NFLdf.to_sql("NFLPlays", con=conn, if_exists="replace", index=True)
with engine.connect() as con:
    con.execute("ALTER TABLE NFLPlays ADD PRIMARY KEY (index);")

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "nflplays" does not exist

[SQL: ALTER TABLE NFLPlays ADD PRIMARY KEY (index);]
(Background on this error at: http://sqlalche.me/e/f405)